
/* Variable css  */
:root {
  --priamry-Font: "Inter", sans-serif;
  --secoundry-Font: "Noto Serif", serif;
  --primary-color: #e95a08;
  --secoundry-color: #000000;
  --text-color: rgba(0, 0, 0, 0.5);
  --secoundry-text-color: #ffffff;
}
/* common css start  */
body {
  background-color: #f5f8ff;
}
.title{
  font-family: var(--secoundry-Font);
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.title span{
  color: var(--primary-color);
}
.title-para{
  font-family: var(--priamry-Font);
  color: var(--text-color);
  text-align: center;
}
/* nav section css start  */
#navigation ul li a {
  font-size: 16px;
  font-family: var(--priamry-Font);
  color: #8987a1;
  padding: 18px 24px;
  transition: .2s;
}
#navigation ul li a span{
  margin-right: 10px;
}
#navigation ul li:hover a{
  color: #252432;
}

/* hero section css  */
/* #flower {
  margin-top:109px;
  margin-bottom: 120px;
} */
#flower .hero-text h1{
  /* font-size: 65px; */
  font-weight: 700;
  color: var(--primary-color);
  font-family: var(--secoundry-color);
  margin-bottom: 10px;
}
#flower .hero-text h1 span{
  color: #000000;
}
#flower .hero-text p{
  font-family: var(--priamry-Font);
  color: var(--text-color);
}


/* plant section start  */
#plant .plant-txt{
  margin-bottom: 50px;
}
#plant .plant-gallery .plant-card .img-description{
  margin: 10px 0;
}
#plant .plant-gallery .plant-card .img-description h4{
  font-family: var(--priamry-Font);
  font-weight: 500;
  color: #111111;
  text-align: center;
  margin-bottom: 10px;
}
#plant .plant-gallery .plant-card .img-description span{
  font-family: var(--priamry-Font);
  font-weight: 700;
  text-align: center;
  color: #111111;
}
#plant .plant-gallery .plant-card button{
  font-family: var(--priamry-Font);
  font-weight: 600;
  color: var(--secoundry-text-color);
  background-color: var(--primary-color);
}

/* plant lover section start  */
#plant_lover .plant_lover_txt .heading h3{
    font-family: var(--secoundry-Font);
    font-weight: 700;
    color: var(--secoundry-color);
}
#plant_lover .plant_lover_txt ul li{
  font-family: var(--priamry-Font);
  color: var(--text-color);
list-style-type: disc ;
}